
#input-panel {
  background-color: white;
  padding: 45px 20px 20px 20px;
  cursor: move;
  opacity: 0.75;
  zoom: 0.9;
}


#input-panel:hover {
  opacity: 0.95;
  transition-delay: 0;
}
















/* responsive for mobile*/
@media screen and (max-width: 600px) {
  #input-panel{
    /* background-color: black;*/
    top: 0% !important;
    right: 50% !important;
    display: none;
    width: 100% !important;
    transform: translate(50%, 0%);
    padding: 50px 20px 20px 60px;
  }
  
  /* Adding menu to absolute panel*/
  
  .container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  /*End of adding menu to absolute panel*/

  
}